@charset "UTF-8";

@import "common";
@import "browser";

.lui-latteart {
	.setBrowserStyle();

	@import "container";
	@import "button";
	@import "slider";

	@import "theme";

	//----------------------------------
	// Logical Area
	//----------------------------------
	&.lui-skin-@{skinNamespace} {
		position: relative;
		width: 100%;
		height: 100%;
		border: 0;
		box-sizing: border-box;
		overflow: hidden;
	}

	.lui-area {
		position: absolute;
		width: 100%;
	}

	.lui-bar {
		background-color: #fff;
		height: 4rem;
		text-align: center;

		button {
			width: 6rem;
			height: 4rem;

			&.lui-state-default,
			&.lui-state-default span {
				border-color: transparent;
			}

			&.lui-state-hover,
			&.lui-state-focus {
				border-color: @borderColorHover;
				z-index: 1;
			}

			&.lui-state-active {
				border-color: @borderColorActive;
				z-index: 1;
			}
		}

		&.lui-navbar {
			top: 0;
		}
		
		&.lui-toolbar {
			bottom: 0;
			overflow: hidden;

			box-sizing: border-box;
			perspective: 0;
			transform-style: preserve-3d;
			transform: translate3D(0,0,-4rem);

			& > div {
				position: absolute;

				width: 100%;
				backface-visibility: hidden;
				height: 100%;
				transition: 0.5s all;

				&:nth-of-type(1) {
					transform: rotateX(0deg) translate3D(0,0,4rem);
				}

				&:nth-of-type(2) {
					transform: rotateX(-90deg) translate3D(0,0,4rem);
				}
			}

			&.lui-rangebar-visible {
				& > div:nth-of-type(1){
					transform: rotateX(90deg) translate3D(0,0,4rem);
				}

				& > div:nth-of-type(2){
					transform: rotateX(0) translate3D(0,0,4rem);
				}
			}
		}
	}

	.lui-bar-left {
		float: left;
	}

	.lui-bar-right {
		float: right;
	}

	.lui-rangebar {
		display: table;
		table-layout: fixed;
		width: 100%;
	
		.lui-part-back {
			display: table-cell;
			width: 6rem;
		}
		
		.lui-part-slider {
			display: table-cell;
		}
	}

	.lui-renderer {
		height: 100%;
		background-color: black;
		display: table;
	}

	.lui-canvas-wrap {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}